{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "object-curly-spacing": "never",
  "tailwindFunctions": ["clsx"]
}
